<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="/static/vue.js" type="text/javascript"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index-element-theme-chalk.css">
    <script src="/static/axios.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="/static/img/ran.ico" type="image/x-icon" />
    <link data-name="vs/editor/editor.main" rel="stylesheet" href="/static/monaco-editor/min/vs/editor/editor.main.css">
    <script src="/static/monaco-editor/min/vs/loader.js" type="text/javascript"></script>
    <script src="/static/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
    <script src="/static/monaco-editor/min/vs/editor/editor.main.js"></script>
    <title>RanIDE Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    <link rel="stylesheet" type="text/css" href="/static/projectManagement.css" />
</head>

<body>

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand"> <img src="../static/img/ran.png"> RanIDE</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="https://tanjx20@mails.tsinghua.edu.cn" target="_new">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">RanIDE，让编程变得更简单！</h1>
                    <br>
                    <p class="lead">成熟的开发环境自动构建机制</p>
                    <p class="lead">便捷的项目文件云端存储</p>
                    <p class="lead">优秀的Web IDE编程体验</p>
                    <p class="lead">
                        <a href="/projectmanagement" class="btn btn-lg btn-default">现在开始</a>
                        
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Copyright © RanIDE Team. All rights reserved.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>

</html>