body {
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    background: #252526;
    display: flex;
    flex-direction: column;
    justify-content: stretch; /* y direction */
    margin: 0;
}

main {
    height: auto;
    flex-grow: 1;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

div[class="top"] {
    height: 24px;
    color: white;
    text-align: left;
    padding-right: 6px;
    width: 100vw;
    background: #404040;
    box-shadow:0 0 16px rgba(0,0,0,0.9);
    z-index: 10;
}

div[class="top"]>button[class="topbutton"]{
    height: 24px;
    width: 40px;
    border: 0;
    border-radius: 0;
    background: #606060;
    color: white;
}
div[class="top"]>button[class="topbutton"]:hover {
    background: #505050;
}
div[class="top"]>button[class="topbutton"]:active {
    background: #404040;
}

div[class="body"] {
    width: 100vw;
    height: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

div[class="left"] {
    width: 200px;
    min-width: 200px;
    height: auto;
    background-color: #606060;
    box-shadow:0 0 16px rgba(0,0,0,0.9);
    z-index: 9;
}

div[class="main"] {
    width: auto;
    flex-grow: 1;
    display: flex;
    z-index: 5;
    flex-direction: column;
    justify-content: stretch;
}

textarea {
    border-radius: 0;
    border-width: 0;
    resize: none;
    margin: 0;
    outline: 0;
    padding: 8px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    line-height: 24px;
    color: white;
}

.CodeMirror {
    overflow-x: hidden;
    overflow-y: hidden;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    word-break: break-word;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}

div[class="wrapper"] {
    flex:1 1 auto;
    margin-top:0;
    height:100%;
    position:relative;
	overflow:hidden;
}

textarea[id="terminal"] {
    width: auto;
    height: 200px;
    background: black;
}

footer {
    height: 24px;
    line-height: 24px;
    color: white;
    text-align: right;
    padding-right: 0;
    box-sizing: border-box;
    width: 100vw;
    font-family: 'Courier New', Courier, monospace;
    background: #404040;
    box-shadow:0 0 16px rgba(0,0,0,0.9);
    z-index: 10;
}
