.layout-container-demo .el-header {
    position: relative;
    background-color: var(--el-color-primary-light-7);
    color: var(--el-text-color-primary);
}

.layout-container-demo .el-aside {
    color: var(--el-text-color-primary);
    background: var(--el-color-primary-light-8);
}

.layout-container-demo .el-menu {
    border-right: none;
}

.layout-container-demo .el-main {
    padding: 0;
}

.layout-container-demo .toolbar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    right: 20px;
}

.layout-container-demo .el-aside .scrollbar-demo-item {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.layout-container-demo .el-main .project_item {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

.el-icon-python{
    background: url('./img/pythonicon1.png') 
    center no-repeat;
    /* font-size: 16px; */
}

.el-icon-python:before{
    content: "替";
    /* font-size: 16px; */
    visibility: hidden;
}

.el-icon-lua{
    background: url('./img/luaicon.png') 
    center no-repeat;
    /* font-size: 16px; */
}

.el-icon-lua:before{
    content: "替";
    /* font-size: 16px; */
    visibility: hidden;
}

.el-icon-java{
    background: url('./img/javaicon.png') 
    center no-repeat;
    /* font-size: 16px; */
}

.el-icon-java:before{
    content: "替";
    /* font-size: 16px; */
    visibility: hidden;
}

.el-icon-ranIDE{
    background: url('./img/ran.png') 
    center no-repeat;
    /* font-size: 16px; */
}