<!DOCTYPE html>

<head>
  <title>RanIDE Demo</title>
  <meta charset="UTF-8" />
  <script src="static/vue.js" type="text/javascript"></script>
  <script src="static/axios.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="static/img/ran.ico" type="image/x-icon" />
  <link data-name="vs/editor/editor.main" rel="stylesheet" href="static/monaco-editor/min/vs/editor/editor.main.css">
  <script src="static/monaco-editor/min/vs/loader.js" type="text/javascript"></script>
  <script src="static/monaco-editor/min/vs/editor/editor.main.nls.js"></script>
  <script src="static/monaco-editor/min/vs/editor/editor.main.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="static/index.css"
  />
</head>
<body>
  <main>
    <div class="top">
      <button class="topbutton" id="run" type="button">运行</button>
    </div>
    <div class="body">
      <div class="left"></div>
      <div class="main_ent">
	    <div id="wrapper"></div>
        <textarea id="terminal" spellcheck="false"></textarea>
      </div>
    </div>
  </main>
  <footer>
    RanIDE 2022
  </footer>
</body>

<script type="text/javascript">
    var login_page = new Vue({
    el: "main",
        data: {
        },
        methods: {      },
        mounted: function() {
            require.config({ paths: { 'vs': 'static/monaco-editor/min/vs' } });
            require(['vs/editor/editor.main'], function () {
                monaco.editor.background = 'black';
                monaco.editor.foreground = 'black';
                monaco.editor.defineTheme('darkTheme', {
                    base: 'hc-black',
                    inherit: true,
                    rules: [{ background: '808080FF' }],
                    colors: {
                      'editors.foreground': '#f4f4f4',
                      'editorSuggestWidget.foreground': 'white',
                    }
                }
            );
            monaco.editor.setTheme('darkTheme');
            let keywords = ["False","None","True","and","as","assert","async","await","break","class","continue",
                "def","del","elif","else","except","finally","for","from","global","if","import","in",
                "is","lambda","nonlocal","not","or","pass","raise","return","try","while","with","yield",
                "long","apply","basestring","buffer","cmp","coerce","execfile","file","intern","raw_input",
                "reduce","reload","self","unichr","unicode","xrange","__dict__","__methods__","__members__",
                "__class__","__bases__","__name__","__mro__","__subclasses__","__init__"];
            let builtins = ["abs","aiter","all","any","anext","ascii","bin","bool","breakpoint","bytearray","bytes",
                "callable","chr","classmethod","compile","complex","delattr","dict","dir","divmod","enumerate","eval",
                "exec","filter","float","format","frozenset","getattr","globals","hasattr","hash","help","hex","id",
                "input","int","isinstance","issubclass","iter","len","list","locals","map","max","memoryview","min","next",
                "object","oct","open","ord","pow","print","property","range","repr","reversed","round","set","setattr",
                "slice","sorted","staticmethod","str","sum","super","tuple","type","vars","zip","__import__"];
            let reg_match = /([a-z,A-Z,_]+[.])*([a-z,A-Z,_]+)*\s*=/g;
            monaco.languages.registerCompletionItemProvider('python', {
                provideCompletionItems: function () {
                    let text = editor.getValue();
                    let variables = [];
                    while (matches = reg_match.exec(text)) {
                        variables.push(matches[2]);
                    }
                    variables = [...new Set(variables)];
                    let suggestions = [];
                    keywords.forEach(item => {
                        suggestions.push({
                            label: item,
                            kind: monaco.languages.CompletionItemKind.Keyword,
                            insertText: item
                        });
                    });
                    builtins.forEach(item => {
                        suggestions.push({
                            label: item,
                            kind: monaco.languages.CompletionItemKind.Method,
                            insertText: item
                        });
                    });
                    variables.forEach(item => {
                        if(!(item in keywords) && !(item in builtins)) {
                            suggestions.push({
                                label: item,
                                kind: monaco.languages.CompletionItemKind.Variable,
                                insertText: item
                            });
                        }
                    });
                    return {
                        suggestions:suggestions
                    };
                },
            });
            var editor = monaco.editor.create(document.getElementById('wrapper'), {
                value: "",
                language: 'python',
                wordBasedSuggestions: true,
                roundedSelection: false,
                scrollBeyondLastLine: false,
                readOnly: false,
                theme: 'darkTheme'
            });
        });
        }
    });
</script>